body {
    background-color: white;
    background-image: url("background.jpg");
    background-size: 1450px 800px;
}

.container-top {
    position: relative;
    text-align: center;
    color: white;
    top: 1em;
    bottom: 3em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    bottom: 5em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
}

#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    z-index: -100;
    transform: translate(-45%, -44%);
}

#topbar{
    height: 100px;
}

.scroll{
    padding-top: 100px;
}
.c{
    color: red;
}
.d{
    color:red;
}

nav {
    color: red;
}